.root{
    display: flex;
    border: 4px solid black;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    height: min-content;
    background-color: white;
    cursor: pointer;
    h1{
        margin: 0;
    }

    &:hover{
        background-color: whitesmoke;
    }
}
