@use 'tokens' as *;

.root{
    @include ghost-button;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    transition: transform 0.15s ease;

    &:hover{
        transform: translateY(-2px);
    }
}
