@use '../../../styles/tokens' as *;

.root{
    @include ghost-button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.75rem;
    border-style: dashed;
    background: transparent;

    &:hover{
        background: rgba(233, 213, 174, 0.5);
    }
}
