.root{
    display: flex;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;

    &:hover{
        background-color: whitesmoke;
    }
}