.root{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    height: 80vh;
    border: 4px solid black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 1rem;
    height: min-content;
}

.container::-webkit-scrollbar{
    width: 0;
}

.searchInput{
    border: 4px solid black;
    font-size:x-large;
    font-weight: bold;
    padding-left: 5rem;
}