html,body{
    margin: 0;
    padding: 0;
}

body{
    background: url('../assets/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #b5976b;
}