.root{
    display: flex;
    border: 4px solid black;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: relative;
}

.nameImgContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    h1,h2,h3{
        margin: 0;
    }
}

.image{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

.numberInputContainer{
    display: flex;
    gap: 2rem;

    input {
        width: 3rem;
        font-size: large;
        padding: 0.5rem 0.25rem;
        text-align: center;
    }

}

.inputContainer{
    position: relative;
    label{
        font-weight: bold;
        position: absolute;
        transform: translateY(-1rem);
        top: 0;
    }
}

.remove .imageBin{
    height: 1.5rem;
    width: auto;
}