.root{
    display: flex;
    border: 4px solid black;
    gap: 4px;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    width: 20rem; 

    button{
        width: 100%;
        background-color: white;
        border: 4px solid black;
        justify-content: center;
        align-items: center;
        padding: 0.20rem;
        cursor: pointer;

        &:hover{
            background-color: whitesmoke;
        }

    }
}