
.root {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: brown;
  height: 5.2rem;
  border-radius: 20rem;
  padding: 1rem;
  left: 1rem;
  gap:1.5rem;
  top: 1rem;
  z-index: 4;
  transition: height 1s;
  overflow: hidden;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.active{
  all: unset;
}