.root{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.battleList{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: min-content;
    border: 4px solid black;
   
}