.root{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 4px solid black;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.icon{
    background-color: white;
    border-radius: 50%;
    padding: 3rem;
    border-radius: 50%;
      box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.text{
    display: flex;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    h3{
        margin: 0;
    }
}