@use 'tokens' as *;

.root{
    min-height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    @media (max-width: $bp-sm){
        padding: 7.5rem 1rem 1.5rem;
        align-items: start;
    }
}
