.root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid black;
    padding: 1rem;
    text-align: center;

    input{
        width: 3rem;
    }
}

.image{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.health{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button{
        padding: 0.5rem;
        background-color: #f44336;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    button:hover{
        background-color: #da190b;
    }
}