.root{
    display: flex;
    justify-content: space-between;
    border: 4px solid black;
    padding: 1rem;
    gap: 2rem;
    width: max-content;
    background-color: white;

    h1{
        font-size: 100;
    }

    h2{
        font-size: 50;
    }

    input{
        width: 3rem;
    }
}

.image{
    height: 18rem;
    width: 15rem;
    object-fit: contain;
}

.health{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}