.root{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
    width: 30rem;
    height: 80vh;
    border: 4px solid black;
}

.charactersContainer{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1rem;
    height: 100%;
}

.charactersContainer::-webkit-scrollbar{
    width: 0;
}

.startButton{
    display: flex;
    background-color: white;
    border: 4px solid black;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background-color: whitesmoke;
    }
}

.bottom{
    display: flex;
    flex-direction: column;
    p{
        margin: 0;
    }
}