.root{
    display: flex;
    border: 4px solid black;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: relative;
}

.image{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}


.remove .imageBin{
    height: 1.5rem;
    width: auto;
}

.imageButton{
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;

    &:hover{
        background-color: #45a049;
    }
}